<div id="<%= dom_id track %>" class="row">
  <div class="col">
    <strong>Track number:</strong>
    <%= track.track_number %>
  </div>
  <div class="col">
    <strong>Name:</strong>
    <%= track.name %>
  </div>
</div>
