<div id="<%= dom_id track %>">
  <p>
    <strong>Name:</strong>
    <%= track.name %>
  </p>

  <p>
    <strong>Track number:</strong>
    <%= track.track_number %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= track.album_id %>
  </p>

</div>
