<p style="color: green"><%= notice %></p>

<h1>Artists</h1>

<div id="artists" class="container-fluid">
  <ul>
    <% @artists.each do |artist| %>
      <li>
        <%= link_to artist.name, artist %>
      </li>
    <% end %>
  </ul>
</div>
<div class="container-fluid mt-4">
  <%= link_to "New artist", new_artist_path, class: "btn btn-primary" %>
</div>


