<p style="color: green"><%= notice %></p>

<h1>Artists</h1>

<div id="artists" class="container">
  <% @artists.each do |artist| %>
    <div class="row">
      <div class="col-md-8">
        <%= artist.name %>
      </div>
      <div class="col-md-4">
        <%= link_to "Show this artist", artist %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New artist", new_artist_path, class: "btn btn-primary" %>

