<p class="text-success"><%= notice %></p>

<h1>Albums</h1>

<div id="albums" class="row">
  <% @albums.each do |album| %>
    <%= render album %>
  <% end %>
</div>
<div class="container-fluid mt-4">
  <%= link_to "New album", new_album_path, class: "btn btn-primary" %>
</div>
